* {
    background-color: black;
}

body{
    text-align: center;
    font-family: Verdana, sans-serif;
    display: block;
}

h1 {
    font-family: Verdana;
    font-size: 50px;
    font-style: normal;
    color: whitesmoke;
    text-align: center;
}


.link {
    color: seagreen;
    font-size: 20px;
}

h2 {
    color: grey;
}

footer {
    text-align: right;
}