* {
    background-color: black;
}

body{
    text-align: center;
    font-family: Verdana, sans-serif;
    display: block;
}

h1 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 50px;
    font-style: normal;
    color: whitesmoke;
    text-align: center;
    opacity: 0.9;
    text-transform: capitalize;
}

.secondary {
    font-size: 44px;
}

.exception {
    text-transform: none;
}

.link {
    color: seagreen;
    font-size: 20px;
}

h2 {
    color: grey;
    font-size: 22px;
    padding: 1em;
    font-weight: 300;
}

footer {
    text-align: right;
}